  {% extends 'base.html' %}

  {% block content %}
      <div class="container">
        <form method="POST" autocomplete="off" class="my-5">
          <div class="form">  
            {% csrf_token %}  
            {{ form }}
          </div>
          <div class="submit-button">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div> 
        </form>


        <div class="card shadow-sm p-3 mb-5">
            <ul class="list-group list-group-flush">
            {% for i in items %}
              <li class="list-group-item">
                  {{i.Todo_item}}
                  <a class="float-right text-danger" href="{% url 'home:delete' i.id %}"><i class="fas fa-trash-alt"></i> Delete</a>
                  <a class="float-right text-warning mr-3" href="{% url 'home:update' i.id %}"><i class="fas fa-edit"></i> Update</a>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
    {% endblock %}

    